# Ambiente Virtual
.venv/
venv/
env/

# Arquivos de Dados e Datasets
data/
*.csv


# Python e Caches
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/


# Logs
*.log

# IDEs e Editores
.vscode/
.idea/
*.swp

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db
.venv/
__pycache__/
